body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
header {
    background-color: #4faa89;
    color: #fff;
    padding: 40px;
    text-align: center;
}
nav {
    background-color: #47604c93;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #4faa89;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #3c8b71;
}
section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #4faa89;
}
p {
    color: #333;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #4faa89;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
